html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#title {
    background-color: #FFC93C;
}

#titulo {
    color: #2F58CD;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

#menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

nav {
    padding-bottom: 4.5rem;

}


.container-fluid {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    color: #2F58CD;
}

.nav-item {
    padding-right: 18px;
    padding-left: 18px;
}

.row {
    display: flex;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    align-items: center;
    text-align: center;
}

.ml-auto {
    margin: 5%, 3%, 5%, 0;
}

#logo {
    background-color: #FFC93C;
    width: 40%;
}

#Eslogan {
    font-size: 3.5rem;
    color: #2F58CD;

}
#Descripcion {
    font-size: 2rem ;
    color: #2F58CD;
}

#featured-3 {
    background-color: #FFF2CC;
    
}
.container {
    max-width: 100%;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#Carrusel{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    
}
#Carrusel img{
    width: 300px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 8%;
}
#testimonials img{
    width: 100px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 8%;
}
#Productos {
    background-color: #FFC93C;
    text-align: center;
}
#Suscripción {
    text-align: center;
    color: #2F58CD;
    padding-bottom: 2%;
    padding-top: 5%;
    background-color: #FFF2CC;
}
#Tarjetas{
    padding-left: 8%;
    padding-bottom: 4%;
    background-color: #FFF2CC;
}
#Tarjetas .btn{
    border: 2px solid black;
    }
#Mapa {
    background-color: #FFC93C;
    text-align: center;
    color: #2F58CD;
}
#Simbolomapa {
    padding-left: 10px;
}
#Libros {
    text-align: center;
    color: #2F58CD;
    background-color: #FFF2CC;
    padding-left: 8%;
}
.card {
    width: 300px;
    
}
.FondoLibros {
    align-items: center;
}
#Coleccion {
    text-align: center;
    color: #2F58CD;
    background-color: #FFF2CC;
    padding-left: 8%;
}
.ImgBufanda {
    width: 137px;
    margin-left: 90px;
}
#Banderas {
    text-align: center;
    color: #2F58CD;
    background-color: #FFF2CC;
    padding-left: 8%;
}
#Novedades {
    background-color: #FFF2CC;
    text-align: center;
    color: #2F58CD;
}
#Lista {
    margin-left: 50px;
}